/* CSS Entry Point */

//LIBRARIES IN USE
@import 'normalize-css/normalize';
@import 'font-awesome/scss/font-awesome';

///VARIABLES////

$roboto: 'Roboto', sans-serif;
$acme: 'Acme', sans-serif;
$app-blue: #144be0;
$app-green: #00f55e;
$text-white: #ECFDF3;

///////////////////
//  APP STYLES   //
///////////////////

body {
  // background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRDk4jGat7ot2djnucqCbPN9nb6yldIPb4WraxvBXl1V3D-CIpN");
  // background-size: 100% 100%;
  margin: 30px 0 0 0;
  background: $app-blue;
  .app {
  width: 75%;
  margin: auto;
  text-align: center;
  }
}

h4  {
  // text-align: center;
  color: $text-white;
  font-family: $acme;
  margin-left: 200px;
  }


///////////////////
//   HOME VIEW   //
///////////////////

//See the home.js for html structure.
.home-view {
  
}

h1, h3, .home-header-title, .home-header-add-photo {
  // display: inline-block;
}

h1 {
  font-size: 5em;
  
}

h1, h2, h3 {
  margin: 0;
  font-family: $acme;
  color: $text-white;
}

h3 {
  font-size: 2em;
  width: 225px;
}
.home-header {
  display: flex;
  justify-content: space-between;
}

#home-add-photo-btn {
  border: none;
  background: none;
  color: $text-white;
}

#add-icon {
  font-size: 3em;
}

#home-login-signup-btn {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

#home-sign-up-btn, #home-login-btn {
  display: inline-block;
  margin: 20px;
  border: none;
  background: #5a81e9;
  color: white;
  font-family: $acme;
  font-size: 2.5em;
  border-radius: 10px;
   
}

.home-content {

}

#img-circuit, #img-circuit-flip {
  height: 420px;
  margin: auto;
}

#img-circuit-flip {
  transform: scaleX(-1);

}


///////////////////
//  SIGN UP VIEW //
///////////////////

.signup-view {
  margin: 20px auto 20px auto;
  button {
  background: #5a81e9;
  margin: 20px;
  border: none;
  font-family: $acme;
  font-size: 1em;
  color: $text-white;
  border-radius: 15px;
  }

}

.signup-input {
  background: $text-white;
  border: 2px solid black;
  border-radius: 4px;
  color: $app-blue;
  width: 296px;
  height: 30px; 
  margin: 0 0 10px 0;
}

#signup-placeholder {
  width: 300px;
}


///////////////////
//  LOGIN VIEW //
///////////////////


.login-view {
  margin: 20px auto 20px auto;
  .login-input {
  background: $text-white;
  border: 2px solid black;
  border-radius: 4px;
  color: $app-blue;
  width: 400px;
  height: 40px; 
  }
  button {
  background: #5a81e9;
  margin: 20px;
  border: none;
  font-family: $acme;
  font-size: 1em;
  color: $text-white;
  border-radius: 15px;
  }

}


// .login-view {
//   div {
//     div {
//       div {
//         input {
//           width: 800px;
//           height: 200px;
//         }
//         button {
//           width: 800px;
//           height: 200px;
//         }
//       }
//       button {
//         width: 800px;
//           height: 200px;
//       }
//     }
//   }
// }













///////////////////
//  NAV BAR VIEW //
///////////////////

.nav-tabs {
  background: #5a81e9;
  margin: 20px;
  border: none;
  font-family: $acme;
  font-size: 1.5em;
  color: $text-white;
  border-radius: 15px;
}

.nav-bar {
  margin: auto;
}

///////////////////
//  IMG ADD VIEW //
///////////////////

.image-add-view {
  button {
  background: #5a81e9;
  margin: 20px;
  border: none;
  font-family: $acme;
  font-size: 2em;
  color: $text-white;
  border-radius: 15px; 
  }
}

#logo-add-placeholder {
  margin: auto;
  border: 5px solid #0e349c;
}

#answer-box {
  margin: 20px;
}

.image-add-form {
  display: block; 
  margin: auto;
}

///////////////////
//  Game  VIEW   //
///////////////////

.game-view {
  display: inline-block;
}

.image-wrapper{
  img {
    border: 5px solid #0e349c;
    max-width: 375px;
  }
}

.answer-choice-wrapper {
  display: block;
  button {
  background: #5a81e9;
  margin: 20px;
  border: none;
  font-family: $acme;
  font-size: 2em;
  color: $text-white;
  border-radius: 15px;  
  }
}

.score-container, .image-container, .answer-choice-wrapper {
  display: block;
}



















